
.navbar-main{
  display: flex;
  width: 100%; 
  padding: 35px;
  margin: auto;
}

.Navbar-left{
      width: 15%;
      margin-left: 5%;
      margin-right: 18%;
      /* border: 1px solid black ; */
      
}

  .Navbar-right{
    display: flex;
    justify-content: space-around;
    width: 50%;
    /* border: 1px solid green; */
    
   }
 
  
   .Navbar-right > button{
      width: 19%;
      height: 35px;
      /* border: 1px solid red; */
      border: none;
      margin-left: 10px;
      font-size: larger;
      text-decoration: none;   
   }

   hr{
     margin-top: -12px;
     margin-bottom: 15px;
   }
 


   .Navbar-right > button  :hover{
    cursor: pointer;
    color: gray;
   }