
.navbar-main{
  display: flex;
  width: 100%; 
  padding: 35px;
  margin: auto;
}

.Navbar-left{
      width: 15%;
      margin-left: 5%;
      margin-right: 18%;
      border: 1px solid black ;
      
}

  .Navbar-right{
    display: flex;
    justify-content: space-around;
    width: 50%;
    border: 1px solid green;
    
   }
 
  
   .Navbar-right > button{
      width: 17%;
      height: 35px;
      border: 1px solid red;
      margin-left: 10px;
   
     
     
   }
 