

  
  
  .main_container{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    margin: 0px;
    width: 80%;
    margin: auto;
  }
  
  .main_div{
   
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    /* border: 1px solid forestgreen; */
    width: 100%;
    margin: auto;
    height: 600px;
  }

  .img-list{ 
   height: 65%;
    cursor: pointer;
  }




  